{% load i18n %}
{% load url from future %}

Hola {{ inscripto.nombre }},

<p>¡Gracias por inscribirte como servidor para la Visita del Papa Francisco al Paraguay!</p>

<p>Si tenés alguna duda o consulta ingresá <a href="http://www.franciscoenparaguay.org/contacto/">aquí</a> </p>

<p>Atentamente.</p>

<strong>La Coordinación de Servidores.</strong>

<p>
    <a href="https://www.facebook.com/PapaEnPy"><img src="http://www.franciscoenparaguay.org/static/img/icon/facebook.png" alt="facebook" height="32"></a>
    <a href="https://www.twitter.com/PapaEnPy"><img src="http://www.franciscoenparaguay.org/static/img/icon/twitter.png" alt="twitter" height="32"></a>
    <a href="https://instagram.com/papaenpy"><img src="http://www.franciscoenparaguay.org/static/img/icon/instagram.png" alt="instagram" height="32"></a>
    <a href="https://www.youtube.com/channel/UC_RvLvVgYuGHH8tjQoXxz9g"><img src="http://www.franciscoenparaguay.org/static/img/icon/youtube.png" alt="youtube" height="32"></a>
</p>